;; Analyzed by ClojureScript 1.7.228
{:name cljs-async-patterns.runner, :doc nil, :excludes #{}, :use-macros {doo-tests doo.runner}, :require-macros {doo.runner doo.runner}, :uses nil, :requires {doo.runner doo.runner, cljs-async-patterns.core-test cljs-async-patterns.core-test}, :imports nil, :cljs.analyzer/constants {:seen #{cljs-async-patterns.core-test :report-counters :ns :name :file core-tests :end-column :type cljs-async-patterns.core-test/core-tests :column :summary :fail :jx.reporter.karma/karma :line :end-run-tests :end-line :begin-test-ns :error :pass :arglists :doc :end-test-ns :test}, :order [:jx.reporter.karma/karma :type :fail :error :pass :test :summary :ns cljs-async-patterns.core-test :begin-test-ns cljs-async-patterns.core-test/core-tests :name :file :end-column :column :line :end-line :arglists :doc core-tests :end-test-ns :report-counters :end-run-tests]}}